<!doctype html>
<html class="{{className}}">
<head>
    <meta charset="utf-8" />
    <title>Connect Four</title>
    <meta name="viewport" content="width=device-width">
		<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,600,300italic,600italic" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/style.css"></link>
    {{#if domain}}<script>var __DOMAIN__ = '{{domain}}';</script>{{/if}}
</head>
<body>
	<div id="page" data-role="page" > 
		<header>
			<h1><a href="/">{{header}}</a></h1>
			{{#if user}}
				<nav>
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/users">Users</a></li>
						<li><a href="/logout">Log Out</a></li>
					</ul>
				</nav>
			{{/if}}
			{{#if isGame}}
				<div class="gameStats">
					<p>Player 1: {{game.player_1_email}}</p>
					<p>Player 2: {{game.player_2_email}}</p>
					<p>It's player {{game.turn}}'s turn</p>
				</div>
			{{/if}}
		</header>
		<div id="content" data-role="content">

    		{{{body}}}

    	</div>
    	<footer>{{footer}}</footer>
	</div>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
	{{#if isGame}}<script src="/socket.io/socket.io.js"></script>{{/if}}
	{{#if isGame}}<script src="/js/game.js"></script>{{/if}}

</body>
</html>