<div class="panel" role="main" id="gamePanel">

	<div id="gameGrid">
		<div class="controls playerOne">
			<a href="/dropdot/{{game._id}}/0" class="col-0"><img src="../images/redChip.png" alt="Drop chip into column one." /></a>
			<a href="/dropdot/{{game._id}}/1" class="col-1"><img src="../images/redChip.png" alt="Drop chip into column one." /></a>
			<a href="/dropdot/{{game._id}}/2" class="col-2"><img src="../images/redChip.png" alt="Drop chip into column one." /></a>
			<a href="/dropdot/{{game._id}}/3" class="col-3"><img src="../images/redChip.png" alt="Drop chip into column one." /></a>
			<a href="/dropdot/{{game._id}}/4" class="col-4"><img src="../images/redChip.png" alt="Drop chip into column one." /></a>
			<a href="/dropdot/{{game._id}}/5" class="col-5"><img src="../images/redChip.png" alt="Drop chip into column one." /></a>
			<a href="/dropdot/{{game._id}}/6" class="col-6"><img src="../images/redChip.png" alt="Drop chip into column one." /></a>
		</div>

		{{#each game.board}}

			<div class="column col-{{@index}}">
				
				{{#each this}}

					{{ drawDot @index this }}

				{{/each}}
				
				<div class="row"></div>
				<div class="row"></div>
				<div class="row"></div>
				<div class="row"></div>
				<div class="row"></div>
				<div class="row"></div>
		
			</div>

		{{/each}}

		<div class="board">
			<img src="../images/board.png" alt="" class="" />
		</div>
	</div>
</div>


<div class="panel" id="chatPanel">
	<label for="chatInput">Talk some smack:</label>
	<input id="chatInput" type="text">
	<div id="chatLog"></div>
</div>
