<h1>{{title}}</h1>

{{#if user}}

	<h2>Hello, {{user.name}}.</h2>
	<p>ID: {{user.externalid}}</p>
	<p>Name: {{user.name}}</p>
	<p>Email: {{user.email}}</p>
		
	<a href="/creategame">Create new Game</a>
		
	<h2>Currently active games: {{games.length}}</h2>
	
	<ul>
		{{#each games}}
	  		<li><a href="/game/{{_id}}">View game:</a> - player_1_id={{player_1_id}} - player_2_id={{player_2_id}} - turn={{turn}} </li>
		{{/each}}
	</ul>	
	
{{else}}

	<h2>Welcome! Please <a href="/auth/google">login with Google</a> to play a game.</h2>

{{/if}}

