

<h2>Hello, {{user.name}}.</h2>
	
<a href="/creategame" class="button">Create Game</a>
	
<div class="gamesList">	
<h2>My games ({{myGames.length}})</h2>

<ul>
	{{#each myGames}}
  		<li>{{opponent ../user}} <span class="actions"><a href="/game/{{_id}}">view</a></span></li>
	{{/each}}
</ul>	
</div>

<div class="gamesList">
<h2>Games to join or view ({{otherGames.length}})</h2>

<ul>
	{{#each otherGames}}
  		<li>{{playerOneExists}} vs. {{playerTwoExists}} <span class="actions"><a href="/game/{{_id}}">view</a> {{join}}</li>
	{{/each}}
</ul>
</div>	
