<h1>{{title}}</h1>

<h2>Hello, {{user.name}}.</h2>
<p>ID: {{user.externalid}}</p>
<p>Name: {{user.name}}</p>
<p>Email: {{user.email}}</p>
	
<a href="/creategame">Create new Game</a>
	
<h2>My games ({{myGames.length}})</h2>

<ul>
	{{#each myGames}}
  		<li>Game {{_id}} -  <a href="/game/{{_id}}">view</a></li>
	{{/each}}
</ul>	

<h2>Games to join or view ({{otherGames.length}})</h2>

<ul>
	{{#each otherGames}}
  		<li>Game {{_id}} -  <a href="/game/{{_id}}">view</a> | <a href="">join</a></li>
	{{/each}}
</ul>	
